<!--<div class="well well-lg">-->
<!--  <div class="media">-->
<!--      <div class="media-left">-->
<!--        <%= image_tag "ronivaldo.png", :class=>"user-photo" %>-->
<!--      </div>-->
<!--      <div class="media-body">-->
<!--        <div class="post-heading">-->
<!--          <h4 class="media-heading">Ronivaldo</h4>-->
<!--          <p>2h</p>-->
<!--        </div>-->
<!--        <div class="post-content">-->
<!--          PetMatch é só alegria!-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="well well-lg">-->
<!--  <div class="media">-->
<!--      <div class="media-left">-->
<!--        <%= image_tag "gertrudez.png", :class=>"user-photo" %>-->
<!--      </div>-->
<!--      <div class="media-body">-->
<!--        <div class="post-heading">-->
<!--          <h4 class="media-heading">Gertrudez</h4>-->
<!--          <p>4h</p>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
<!--  <div class="post-content">-->
<!--  Hoje eu fui ao Jô Soares falar sobre os meus Gatos S2.-->
<!--  <div class="photo-content">-->
<!--    <%= image_tag "maite-proenca.jpg" %>-->
<!--  </div>-->
<!--  </div>-->
<!--</div>-->

<% (0..3).each do %>
 <%= render "shared/randPost" %>
<% end %>


<%= render "shared/postartexto" %>
<%= render "shared/postarfoto" %>

<script type="text/javascript" >
$( document ).ready(function( ) { 
    var links = [
        {
            "bgcolor":"#FFC107",
            "icon":"+",
            "id" : "postar"
        },
        {
            // "url":"#",
            "bgcolor":"#3F51B5",
            "color":"#fffff",
            "icon":"<i class='mdi-image-photo'></i>",
            "target":"_blank",
            "id" : "postar-foto"
        },
        {
        // "url":"#",
            "bgcolor":"#FF5252",
            "color":"white",
            "icon":"<i class='mdi-image-edit'></i>", 
            "id" : "postar-texto"
        }
    ]
    $('.kc_fab_wrapper').kc_fab(links);
    
    $('#postar-texto').attr('onclick','#modal');
    $('#postar-foto').attr('onclick','#modal-foto');
    setTooltip( $('#postar-texto'), "left", "Texto" );
    setTooltip( $('#postar-foto'), "left", "Imagem" );
    setTooltip( $('#postar'), "left", "Postar" );
});
</script>