<h1><%= @group.name %></h1>
<p><%= @group.description %> - <%= link_to 'Edit', edit_group_path(@group) %> | <%= link_to 'Back', groups_path %></p>

<% (0..3).each do %>
 <%= render "shared/randPost" %>
<% end %>


<script type="text/javascript" >
$( document ).ready(function( ) { 
    var links = [
        {
            "url":  "#",
            "bgcolor":"#FFC107",
            "icon":"+",
            "id" : "novoPost"
        }
    ]
    $('.kc_fab_wrapper').kc_fab(links);
    
    setTooltip( $('#novoPost'), "left", "Postar no grupo" );
    sendMessage('<%=notice%>');
});
</script>
