<%= form_for @chat , :html => { :class => "form-horizontal" } do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Nome</label>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control floating-label", :id => "focusedInput"  %>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Pessoas</label>
    <div class="col-lg-10">
      <%= f.text_field :people, :class => "form-control floating-label", :id => "focusedInput"  %>
    </div>
  </div>
  <% if params[:action] == "new" then %>
  <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Sua mensagem</label>
      <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
          <!--<span class="help-block"</span>-->
      </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Submeter", :class => "btn btn-primary pull-right" %>
  </div>
<% end %>

