<h1><%= @chat.name %></h1>
<p><%= @chat.people %> - <%= link_to 'Editar conversa', edit_chat_path(@chat) %> | <%= link_to 'Voltar', chats_path %></p>


<div id="browser-window" ng-app ng-controller="NgChatCtrl">
    <div id="viewport" class="panel">
        <div id="viewport-content">
            <% (0..3).each do %>
                <%= render "shared/randChat" %>
            <% end %>
        </div>
    </div>

    <div class="panel-footer">
        <form class="row row-chat">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="inputMessage" placeholder="Escreva aqui sua mensagem.">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" onclick="sendMessage('Mensagem enviada');" type="button">Enviar</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<%= render "shared/enviaranexo" %>
<%= render "shared/enviarfoto" %>

<script type="text/javascript" >
$( document ).ready(function( ) { 
    var links = [
        {
            // "url":  "<%= new_chat_path %>",
            "bgcolor":"#FFC107",
            "icon":"+",
            "id" : "acoes"
        },
        {
            // "url":"#",
            "bgcolor":"#3F51B5",
            "color":"#fffff",
            "icon":"<i class='mdi-image-photo'></i>",
            "target":"_blank",
            "id" : "postar-foto"
        },
        {
        // "url":"#",
            "bgcolor":"#FF5252",
            "color":"white",
            "icon":"<i class='mdi-file-attachment'></i>", 
            "id" : "postar-anexo"
        }
    ]
    $('.kc_fab_wrapper').kc_fab(links);

    $('#postar-texto').attr('onclick','#modal-anexo');
    $('#postar-foto').attr('onclick','#modal-foto');

    setTooltip( $('#postar-anexo'), "left", "Anexo" );
    setTooltip( $('#postar-foto'), "left", "Imagem" );
    setTooltip( $('#acoes'), "left", "Enviar" );
    sendMessage('<%=notice%>');    
});
</script>
