<h1><%= @chat.name %></h1>
<p><%= @chat.people %> - <%= link_to 'Edit', edit_chat_path(@chat) %> | <%= link_to 'Back', chats_path %></p>

<% (0..3).each do %>
 <%= render "shared/randChat" %>
<% end %>

<%= render "shared/enviaranexo" %>
<%= render "shared/enviarfoto" %>

<script type="text/javascript" >
$( document ).ready(function( ) { 
    var links = [
        {
            // "url":  "<%= new_chat_path %>",
            "bgcolor":"#FFC107",
            "icon":"+",
            "id" : "acoes"
        },
        {
            // "url":"#",
            "bgcolor":"#3F51B5",
            "color":"#fffff",
            "icon":"<i class='mdi-image-photo'></i>",
            "target":"_blank",
            "id" : "postar-foto"
        },
        {
        // "url":"#",
            "bgcolor":"#FF5252",
            "color":"white",
            "icon":"<i class='mdi-file-attachment'></i>", 
            "id" : "postar-anexo"
        }
    ]
    $('.kc_fab_wrapper').kc_fab(links);

    $('#postar-texto').attr('onclick','#modal-anexo');
    $('#postar-foto').attr('onclick','#modal-foto');

    setTooltip( $('#postar-anexo'), "left", "Anexo" );
    setTooltip( $('#postar-foto'), "left", "Imagem" );
    setTooltip( $('#acoes'), "left", "Enviar" );
    sendMessage('<%=notice%>');    
});
</script>
