<h1><%= @chat.name %></h1>
<p><%= @chat.people %> - <%= link_to 'Edit', edit_chat_path(@chat) %> | <%= link_to 'Back', chats_path %></p>

<% (0..3).each do %>
 <%= render "shared/randChat" %>
<% end %>

<script type="text/javascript" >
$( document ).ready(function( ) { 
    var links = [
        {
            "url":  "#",
            "bgcolor":"#FFC107",
            "icon":"+",
            "id" : "novaMsg"
        }
    ]
    $('.kc_fab_wrapper').kc_fab(links);
    
    setTooltip( $('#novaMsg'), "left", "Postar no chat" );
    sendMessage('<%=notice%>');
});
</script>
