<!DOCTYPE html>
<html>
<head>
  <title>PetMatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%#= "<meta http-equiv='refresh' content='10'>".html_safe if Rails.env.development? %>
</head>
<body>
  <%= render "shared/navbar" %>
  <div class="container-fluid main">
    <div class="row">
      <%= render "shared/sidebar" %>
      <div class="pages col-xs-9 col-md-6 ">
        <div class="container-fluid">
          <div id= "alert" class="alert alert-success" role="alert" style="display: none">
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/postartexto" %>
  <%= render "shared/postarfoto" %>
  
  <!-- Botão Ubiquo do Material Design -->
  <div class="kc_fab_wrapper"></div>

  <script type="text/javascript">
    $( document ).ready(function( ) { 
      inicializar();
    });
  </script>
  
  <!--<button onclick="" id="floating-button" class="btn btn-danger btn-fab btn-raised mdi-content-add " rel = "tooltip" data-toggle="tooltip" data-placement="left" title="" data-original-title="Postar"></button>-->
</body>
</html>